/* For some reason, the background is transparent without this. */
.yui3-collapsibleparentpanel .yui3-widget-stdmod .yui3-widget-bd {
  background-color: white;
}

/* Pretty rounded corners and border. */
.yui3-collapsibleparentpanel .yui3-widget-stdmod .yui3-widget-hd {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* Note use of last-child because there might not be a footer */
.yui3-collapsibleparentpanel .yui3-widget-stdmod > div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.yui3-collapsibleparentpanel {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.yui3-collapsibleparentpanel-scrollbox {
  height: 100%;
  overflow-y: scroll;
} 


/* The .yui3-collapsibleparentpanel-collapsed class:
 *  - makes the body and footer disappear
 *  - makes the resize handles disappear
 *  - adds rounded corners to the head (to give the impression
 *    that the body and footer have collapsed "into" the head)
 */
.yui3-collapsibleparentpanel-collapsed .yui3-resize-handles-wrapper {
  display: none;
}
.yui3-collapsibleparentpanel-collapsed .yui3-widget-stdmod .yui3-widget-bd,
.yui3-collapsibleparentpanel-collapsed .yui3-widget-stdmod .yui3-widget-ft {
  display: none;
}
.yui3-collapsibleparentpanel-collapsed .yui3-widget-stdmod .yui3-widget-hd {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
