/* Put the editable content in flexboxes,
 * so it automatically resizes to fill the
 * available space.
 */
.yui3-editorpanel-content .yui3-widget-bd,
.yui3-editorpanel-content .yui3-widget-bd .yui3-childeditor-editable,
.yui3-editorpanel-content .yui3-widget-bd .yui3-childeditor-editable .yui3-childeditor-content {
  display: flex;
  flex-direction: column;
}
.yui3-editorpanel-content .yui3-widget-bd .yui3-childeditor-editable,
.yui3-editorpanel-content .yui3-widget-bd .yui3-childeditor-editable .yui3-childeditor-content,
.yui3-editorpanel-content .yui3-widget-bd .yui3-childeditor-editable .yui3-childeditor-content .ace_editor {
  flex: 1 1 auto;
}
